.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

.grid div { width: 20px; height: 20px; }

.pac-dot { background-color: green; border: 5px solid white; box-sizing: border-box; }

.wall { background-color: blue; }

.power-pellet { background-color: green; border-radius: 10px; }

.blinky { background-color: red; }

.pinky { background-color: pink; }

.inky { background-color: cyan; }

.clyde { background-color: orange; }

.pac-man { background-color: yellow; border-radius: 10px; }

.scared-ghost { background-color: aquamarine; }

.btn {
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-bottom: 5px;
}

.btn_new_game {
    background-color: white;
    color: black;
    border: 2px solid green;
}

.btn_new_game:hover {
background-color: green;
color: white;
}
